<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card animate__animated animate__flipInY">
            <h5 class="card-header info-color white-text text-center py-4">
                <strong #caption>Form Reactive</strong>
            </h5>
            <div class="card-body px-lg-5 pt-0">
                <form #templateForm="ngForm" [formGroup]="form" autocomplete="off" (ngSubmit)="guardar()" class="text-center needs-validation" style="color: #757575;">
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form">
                                <input 
                                formControlName="name"
                                name="firtsName"
                                type="text" 
                                class="form-control" 
                                minlength="2"
                                [ngClass]="[ name.invalid && (name.dirty || name.touched) ? 'is-invalid' : '',  name.valid ? 'is-valid': '' ]"
                                id="materialRegisterFormFirstName">
                                <label for="materialRegisterFormFirstName">First name</label>

                                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                                    <small *ngIf="name.errors.required"
                                        class="text-danger animate__animated animate__fadeInUp">
                                        Please provide a valid name.
                                    </small>
                                    <small *ngIf="name.errors.minlength"
                                        class="form-text text-danger animate__animated animate__fadeInUp">
                                        Name must be at least 2 characters long.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="md-form">
                                <input 
                                formControlName="lastName"
                                name="lastName" 
                                type="text"
                                class="form-control" 
                                required 
                                minlength="5"
                                [ngClass]="[ lastName.invalid && (lastName.dirty || lastName.touched) ? 'is-invalid' : '',  lastName.valid ? 'is-valid': '']"
                                id="materialRegisterFormLastName">
                                <label for="materialRegisterFormLastName">Last name</label>
                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                                    <small *ngIf="lastName.errors.required"
                                        class="form-text text-danger animate__animated animate__fadeInUp">
                                        Please provide a valid lastName.
                                    </small>
                                    <small *ngIf="lastName.errors.minlength"
                                        class="text-danger animate__animated animate__fadeInUp">
                                        LastName must be at least 5 characters long.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-form mt-0">
                        <input
                            
                            formControlName="email"
                            name="email"
                            type="email"
                            class="form-control"
                            id="materialRegisterFormEmail"
                            [ngClass]="[ email.invalid && (email.dirty || email.touched) ? 'is-invalid' : '',  email.valid ? 'is-valid': '']"
                            >
                        <label for="materialRegisterFormEmail">E-mail</label>
                        <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <small *ngIf="email.errors.required"
                                class="text-danger animate__animated animate__fadeInUp">
                                Email is required.
                            </small>
                            <small *ngIf="email.errors.email"
                                class="form-text text-danger animate__animated animate__fadeInUp">
                                Please provide a valid email address.
                            </small>
                        </div>
                    </div>
                    <div class="md-form mt-0">
                        <input
                            formControlName="username"
                            name="username"
                            type="text"
                            class="form-control"
                            id="username"
                            [ngClass]="[ username.invalid && (username.dirty || username.touched) ? 'is-invalid' : '',  username.valid ? 'is-valid': '']"
                            >
                        <label for="username">Username</label>
                        <div *ngIf="username.invalid && (username.dirty || username.touched)">
                        <small *ngIf="username.errors.required"
                                class="text-danger animate__animated animate__fadeInUp">
                                Username is required.
                            </small>
                            <small *ngIf="username.errors"
                                class="form-text text-danger animate__animated animate__fadeInUp">
                                Please provide a valid username.
                            </small>
                        </div>
                    </div>                    
                    <div class="form-row" formGroupName="passwords">
                        <div class="col">
                            <div class="md-form">
                                <input 
                                formControlName="password"
                                name="password"
                                type="password" 
                                class="form-control" 
                                [ngClass]="[ password.invalid && (password.dirty || password.touched) ? 'is-invalid' : '',  password.valid ? 'is-valid': '' ]"
                                id="password">
                                <label for="password">Password</label>

                                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                                    <small *ngIf="password.errors.required"
                                        class="text-danger animate__animated animate__fadeInUp">
                                        Please provide a valid password.
                                    </small>
                                    <small *ngIf="password.errors.minlength"
                                        class="form-text text-danger animate__animated animate__fadeInUp">
                                        Password must be at least 6 characters long.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="md-form">
                                <input 
                                formControlName="passwordComfirm"
                                name="passwordComfirm" 
                                type="password"
                                class="form-control"
                                [ngClass]="[ passwordComfirm.invalid && (passwordComfirm.dirty || passwordComfirm.touched) ? 'is-invalid' : '',  passwordComfirm.valid ? 'is-valid': '']"
                                id="passwordComfirm">
                                <label for="passwordComfirm">Comfirm password</label>
                                <div *ngIf="passwordComfirm.invalid && (passwordComfirm.dirty || passwordComfirm.touched)">
                                    <small *ngIf="passwordComfirm.errors.required"
                                        class="form-text text-danger animate__animated animate__fadeInUp">
                                        Please provide a valid password comfirm.
                                    </small>
                                    <small *ngIf="passwordComfirm.errors.minlength"
                                        class="form-text text-danger animate__animated animate__fadeInUp">
                                        Password must be at least 6 characters long.
                                    </small>
                                    <small *ngIf="passwordComfirm.errors?.MatchPassword"
                                        class="text-danger animate__animated animate__fadeInUp">
                                        Password not match
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" formGroupName="address">
                        <div class="col">
                            <div class="md-form">
                                <input 
                                formControlName="departamento"
                                name="departamento"
                                type="text" 
                                class="form-control"
                                [ngClass]="[ departamento.invalid && (departamento.dirty || departamento.touched) ? 'is-invalid' : '',  departamento.valid ? 'is-valid': '' ]"
                                id="departamento">
                                <label for="departamento">Departamento</label>

                                <div *ngIf="departamento.invalid && (departamento.dirty || departamento.touched)">
                                    <small *ngIf="departamento.errors.required"
                                        class="text-danger animate__animated animate__fadeInUp">
                                        Please provide a valid name.
                                    </small>
                                    <small *ngIf="departamento.errors.minlength"
                                        class="form-text text-danger animate__animated animate__fadeInUp">
                                        Name must be at least 2 characters long.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="md-form">
                                <input 
                                formControlName="ciudad"
                                name="ciudad" 
                                type="text"
                                class="form-control" 
                                minlength="2"
                                [ngClass]="[ ciudad.invalid && (ciudad.dirty || ciudad.touched) ? 'is-invalid' : '',  ciudad.valid ? 'is-valid': '']"
                                id="ciudad">
                                <label for="ciudad">Ciudad</label>
                                <div *ngIf="ciudad.invalid && (lastName.dirty || lastName.touched)">
                                    <small *ngIf="ciudad.errors.required"
                                        class="form-text text-danger animate__animated animate__fadeInUp">
                                        Please provide a valid lastName.
                                    </small>
                                    <small *ngIf="ciudad.errors.minlength"
                                        class="text-danger animate__animated animate__fadeInUp">
                                        LastName must be at least 2 characters long.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <table class="table table-striped table-hover table-sm">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Hobbie</th>
                                    <th scope="col">Delete</th>
                                  </tr>
                                </thead>
                                <tbody formArrayName="hobbies">
                                  <tr *ngFor="let control of hobbies.controls; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <input class="form-control" type="text" name="" [formControlName]="i">
                                    </td>
                                    <td><button (click)="deleteHobbie(i)" class="text-danger hvr-bounce-in"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <button 
                                type="button" 
                                class="btn btn-block deep-blue-gradient"
                                (click)="addHobbie()"><i class="fas fa-plus"></i> Add
                                </button>
                                                          
                        </div>

                    </div>                    
                    <button 
                        [disabled]="templateForm.invalid"
                        class="btn btn-info btn-rounded btn-block my-4 rounded-pill" 
                        type="submit">Save
                    </button>
                    <small 
                        *ngIf="templateForm.submitted"
                        class="text-danger animate__animated animate__fadeInUp">
                        You've submitted your reactive Form for {{form.value.email}}
                    </small>
                </form>
                <hr>
                <p>Estado del formulario: <strong>{{form.valid}}</strong></p>
                <p>Status: <strong>{{form.status}}</strong></p>
                <pre>
                    <code [highlight]="" [lineNumbers]="true">{{form.value | json}}</code>
                </pre>
            </div>
        </div>
    </div>
</div>
