<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card animate__animated animate__flipInY">
            <h5 class="card-header info-color white-text text-center py-4">
                <strong #caption>Form template driven</strong>
            </h5>
            <div class="card-body px-lg-5 pt-0">
                <form #templateForm="ngForm" autocomplete="off" (ngSubmit)="guardar(templateForm)" class="text-center needs-validation" style="color: #757575;">
                    <div>
                        <div class="form-row">
                            <div class="col">
                                <div class="md-form">
                                    <input 
                                    #firtsName="ngModel" 
                                    [ngModel] = "user.name"
                                    name="firtsName"
                                    type="text" 
                                    class="form-control" 
                                    required 
                                    minlength="2"
                                    [ngClass]="[ firtsName.invalid && (firtsName.dirty || firtsName.touched) ? 'is-invalid' : '',  firtsName.valid ? 'is-valid': '' ]"
                                    id="materialRegisterFormFirstName">
                                    <label for="materialRegisterFormFirstName">First name</label>

                                    <div *ngIf="firtsName.invalid && (firtsName.dirty || firtsName.touched)">
                                        <small *ngIf="firtsName.errors.required"
                                            class="text-danger animate__animated animate__fadeInUp">
                                            Please provide a valid name.
                                        </small>
                                        <small *ngIf="firtsName.errors.minlength"
                                            class="form-text text-danger animate__animated animate__fadeInUp">
                                            Name must be at least 2 characters long.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form">
                                    <input 
                                    #lastName="ngModel" 
                                    [ngModel]="user.lastName" 
                                    name="lastName" 
                                    type="text"
                                    class="form-control" 
                                    required 
                                    minlength="5"
                                    [ngClass]="[ lastName.invalid && (lastName.dirty || lastName.touched) ? 'is-invalid' : '',  lastName.valid ? 'is-valid': '']"
                                    id="materialRegisterFormLastName">
                                    <label for="materialRegisterFormLastName">Last name</label>
                                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                                        <small *ngIf="lastName.errors.required"
                                            class="form-text text-danger animate__animated animate__fadeInUp">
                                            Please provide a valid lastName.
                                        </small>
                                        <small *ngIf="lastName.errors.minlength"
                                            class="text-danger animate__animated animate__fadeInUp">
                                            LastName must be at least 5 characters long.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md-form mt-0">
                            <input
                                email
                                #email="ngModel"
                                [ngModel]="user.email"
                                name="email"
                                type="email"
                                class="form-control"
                                required
                                id="materialRegisterFormEmail"
                                [ngClass]="[ email.invalid && (email.dirty || email.touched) ? 'is-invalid' : '',  lastName.valid ? 'is-valid': '']"
                                >
                            <label for="materialRegisterFormEmail">E-mail</label>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                            <small *ngIf="email.errors.required"
                                    class="text-danger animate__animated animate__fadeInUp">
                                    Email is required.
                                </small>
                                <small *ngIf="email.errors.email"
                                    class="form-text text-danger animate__animated animate__fadeInUp">
                                    Please provide a valid email address.
                                </small>
                            </div>
                        </div>
                        <button 
                            [disabled]="templateForm.invalid"
                            class="btn btn-info btn-rounded btn-block my-4 rounded-pill" 
                            type="submit">Save
                        </button>
                        <small 
                            *ngIf="templateForm.submitted"
                            class="text-danger animate__animated animate__fadeInUp">
                            You've submitted your form
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>