<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{myList.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label position="floating" color="primary">Agregar nuevo item</ion-label>
    <ion-input type="text" 
               [(ngModel)]="itemName"
               (keyup.enter)="addItem()"></ion-input>
  </ion-item>
</ion-list>
<ion-list>
  <ion-list-header>
    <ion-label>Lista de chequeo</ion-label>
    <!-- <ion-button>See All</ion-button> -->
  </ion-list-header>
</ion-list>
<ion-list>
  <ion-item *ngFor="let item of myList.items">
    <ion-label>{{item.description}}</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="item.isCompleted"></ion-checkbox>
  </ion-item>
</ion-list>
</ion-content>
